div:lang(en) {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 300;
}
div:lang(ja), .dropdown-item {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 300;
}
.parallax {
  /* The image used */
  background-image: url("LosCover.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white {
	color: white;
}
.tinted {
	opacity: 0.8;
}
.untinted {
	opacity: 1;
}
.bottom-container {
	padding-top: 10px;
}

.card-shukatsu {
	background-color: darkblue;
	color: white;
}

.card-nichijou {
	background-color: darkgreen;
	color: white;
}

html {
	scroll-behavior: smooth;
}

.lower-nav {
	font-size: 16px;
}
/*
.card {
	height: 360px;
}
*/
/*style="background: url('LosCover.jpg') no-repeat center center fixed; background-size: cover;*/