{% extends "layout.html" %}
{% block content %}

		<div lang="en">
			<p>Ryugaku is a central hub where Japanese students studying abroad can post about their experiences in the United States. Content is split between job hunting and daily life, as life in the United States is quite different from how life in Japan. Sign up to be a poster or a viewer today!</p>
		</div>
		
		<h2>Example (下書き)</h2>
		<div class="row" lang="ja">
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100">
					<div class="card-body">
						<h5 class="card-title">ボスキャりの感想</h5>
						<p class="card-text">クリボー</p>
						<a href="#" class="btn btn-primary">読む</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100">
					<div class="card-body">
						<h5 class="card-title">留学生へのベスト5面接チップ</h5>
						<p class="card-text">カニング沢様</p>
						<a href="#" class="btn btn-primary">読む</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-nichijou h-100">
					<div class="card-body">
						<h5 class="card-title">UCLAの寮生活！</h5>
						<p class="card-text">あさみん</p>
						<a href="#" class="btn btn-primary">読む</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}