{% extends "layout.html" %}
{% block content %}

		<div lang="en" class="core-text">
			<p>Ryugaku is a central hub where Japanese students studying abroad can post about their experiences in the United States. Content is split between job hunting and daily life, as life in the United States is quite different from how life in Japan. Sign up to be a poster or a viewer today!</p>
		</div>
		
		<h2>Example (下書き)</h2>
		<div class="spacing"></div>
		<div class="row" lang="ja">
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100" style="border: none;">
					<div style="position: absolute; width:80%; right:0; padding: 15px 0px">
						<h5 class="card-title align-middle">ボスキャり2019でシティバンクに裏切られた</h5>
					</div>
					<div class="card-body" style="padding: 60px 15px 0px 15px;">
						<p>もともと金融で働こうと思っていなかったが、シティバンクと何回も面接を受けてみれば、、</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">julianrice</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100">
					<div class="card-body">
						<h5 class="card-title">留学生へのベスト5面接チップ</h5>
						<p>ベスト５！</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">banri634</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-nichijou h-100">
					<div class="card-body">
						<h5 class="card-title">UCLAの寮生活！</h5>
						<p>---</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">asamin</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
		</div>
		<div class="spacing"></div>
		<div class="row" lang="ja">
			<div class="col-sm-4">
				<div class="card card-nichijou h-100">
					<div class="card-body">
						<h5 class="card-title">週6回のジム生活？！</h5>
						<p>---</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">banri634</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100">
					<div class="card-body">
						<h5 class="card-title">三菱電機の面接感想</h5>
						<p>---</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">banri634</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-shukatsu h-100">
					<div class="card-body">
						<h5 class="card-title">セールスフォースの面接感想</h5>
						<p>---</p>
						<!-- Border between content of the card and the logistics (username / continue reading) -->
						<br>
						<p class="card-text">asamin</p>
						<a href="#" class="btn btn-yomu">つづく</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}