{% extends "layout.html" %}
{% block content %}
    <div class="row" lang="ja">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">ログイン</h3>
            <form name="login" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="text-center new-form">
                    {{ form.username.label }}<br>
                    {{ form.username(size=30) }}
                </p>
                <p class="text-center new-form">
                    {{ form.password.label }}<br>
                    {{ form.password(size=30) }}
                </p>
                <p class="text-center">
                    {{ form.submit() }}
                </p>
                
                <!-- <div class="form-group">
                    <label for="email">Eメール</label>
                    <input type="email" class="form-control" placeholder="goombajmr@g.ucla.edu" id="email">
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" class="form-control" placeholder="••••••••" id="password">
                </div> -->

            </form>
        </div>
        </div>
    </div>
{% endblock %}