{% extends "layout.html" %}
{% block content %}
    <div class="row" lang="ja">
        <div class="col-md-8 offset-md-2">
            <h3>ログイン</h3>
            <form name="login" action="" method="post" novalidate>
                <div class="form-group">
                    <label for="email">Eメール</label>
                    <input type="email" class="form-control" placeholder="goombajmr@g.ucla.edu" id="email">
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" class="form-control" placeholder="••••••••" id="password">
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}