div:lang(en) {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 300;
}
div:lang(ja), .dropdown-item, span:lang(ja) {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 300;
}
.not-logged-in {
	background-color: rgb(233, 233, 255);
}
.logged-in {
	background-color: rgb(255, 233, 232);
}

.banner {
	padding: 20px;
	border-radius: 12px;
	margin: 20px 0px;
}

.core-text {
	margin: 0px 40px;
	letter-spacing: 0.3px;
}

.parallax {
  /* The image used */
  /* background-image: url("{{ url_for('static', filename='../images/LosCover.jpg') }}"); */
  background-color: white;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white {
	color: rgb(45, 45, 180);
}
.tinted {
	opacity: 0.8;
}
.untinted {
	opacity: 1;
}
.bottom-container {
	padding-top: 10px;
}

.card-shukatsu {
	background-color: rgb(111, 111, 208);
	color: white;
}

.card-nichijou {
	background-color: rgb(219, 120, 120);
	color: white;
}

html {
	scroll-behavior: smooth;
}

.lower-nav {
	font-size: 16px;
}
/*
.card {
	height: 360px;
}
*/
/*style="background: url('LosCover.jpg') no-repeat center center fixed; background-size: cover;*/

.alumni_form, .gogaku_form, .komikare_form {
	display: none;
}

.logo {
	max-height: 55px;
	float: left;
}

.new-form input {
	color: grey;
	padding: 10px;
	border-radius: 10px;
	border: 0px;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.center-text {
	text-align: center;
}

.profile-right-box {
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	margin-right: -10px;
	border-radius: 20px;
	color: darkblue;
	height: 500px;
}

.profile-left-box {
	background-color: white;
	padding: 20px;
	margin-left: -10px;
	margin-right: 10px;
	border-radius: 20px;
	color: darkblue;
}

.profile-picture {
	background-color: darkmagenta;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	min-width: 50px;
	min-height: 50px;
}

.spacing {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-yomu {
	color: #222222;
	background-color: #DDDDDD;
	border-radius: 5px;
	/* float: right; */
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 5px;
}

.btn-yomu:hover {
	box-shadow: inset 0 0 0 20rem #CCCCCC,
	  inset 0 3px 4px 0 #BBBBBB,
	  0 0 1px #CCCCCC;
}

.card-text {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 15px;
	margin-left: 15px;
}
.card-title {
	padding: 0px 10px; 
	background-color: white; 
	color: black; 
	margin-right: -31px; 
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}