		<div class="container-fluid text-center bottom-container">
			<div lang="ja" class="lower-nav">
				<nav class="nav flex-column flex-sm-row">
					<a class="flex-sm-fill text-sm-center nav-link active" href="{{ url_for('index') }}">ホーム</a>
					<a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('index') }}">アバウト</a>
					<a class="flex-sm-fill text-sm-center nav-link" href="#">利用契約</a>
					<a class="flex-sm-fill text-sm-center nav-link" href="#">お問い合わせ</a>
					<a class="flex-sm-fill text-sm-center nav-link" href="#">ログイン</a>
					<a class="flex-sm-fill text-sm-center nav-link" href="#">新規登録</a>
				</nav>
			</div>
			<footer>
				<p>Copyright &copy;2019-2020. Ryugaku (Rice Games). All rights reserved.</p>
			</footer>
		</div>